{% extends "layout.html"%} {% block content%}
<fieldset class="form-group">
<form action="" method="post">
    {{form.hidden_tag()}}
    <legend class="form-bottom mb-4">
                Login in
            </legend>
    <div class="form-group">
        <!-- html label tag -->
        {{form.email.label(class="form-control-label")}}
        {{form.email(class="form-control form-control-lg")}}
    </div>
    <div class="form-group">
        <!-- html label tag -->
        {{form.password.label(class="form-control-label")}}
        {{form.password(class="form-control form-control-lg")}}
    </div>
    <div class="form-group">{{form.submit(class="btn btn-outline-info")}}</div>
    </fieldset>
</form>
{% endblock content%}
